* {
	margin: 0;
	padding: 0;
}

:root {
	--label-icon: url(img/lua.png);
	--trono-img: url(img/trono-preto.png);
	--mao-icon: url(img/mao-preto.png);
}

.dark-mode {
	--label-icon: url(img/sol.png);
	--trono-img: url(img/trono-branco.png);
	--mao-icon: url(img/mao-branco.png);
	--cor-fundo: black;
	--cor-fonte: white;
}

body {
	background: var(--cor-fundo);
	color: var(--cor-fonte);
	font-family: "Cinzel", serif;
	font-size: 38px;
	user-select: none;
	transition: 2s;
}

.container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mudar-tema {
	background-image: var(--label-icon);
	padding: 40px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 4%;
	left: 4%;
	cursor: pointer;
}

#btn {
	display: none;
}

.trono {
	background-image: var(--trono-img);
	background-size: cover;
	width: 450px;
	height: 600px;
	position: relative;
}

.mao-icon {
	background-image: var(--mao-icon);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 170px;
	top: 40px;
	animation: move 0.8s linear infinite;
}

@keyframes move {
	0% {
		left: 170px;
	}
	30% {
		left: 150px;
	}
}
